@import '../../vars';
.headerSti—ÅkyContainer{
  position: sticky;
  top: 0;
}
.headerContainer {
  height: 28px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.logoIcon {
  margin-right: 11px;
}
.logoText {
  font-family: Raleway;
  color: $text-dark;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-right: 146px;
}

.menu {
  display: flex;
  margin-right: 176px;
}
.menuItem{
  color: $text-dark;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.3px;
  padding-top: 3px;
  padding-bottom: 4px;
}
.menuItem:not(:last-child) {
  margin-right: 45px;
}

.phoneContainer {
  margin-right: 67px;
  display: flex;
  align-items: center;
}
.iconWrapper{
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  margin-right: 13px;
  &:hover, &:focus{
    background-color: $accentSecondary;
  }
  &:hover .phoneIcon, &:focus .phoneIcon{
    stroke: $light-white;
  }
}
.phoneIcon {
  width: 17px;
  height: 17px;
}
.phoneNumber{
  color: $text-dark;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.3px;
}
